.logout_container{
  .login_literal{
    color: #6B778C;
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
  }

  .signout_button{
    margin-top : 40px;
    background: red;
    font-size: 20px;
    font-weight: bold;
    color : white;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;

  }
}