.Overlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  z-index: 2;
  background-color: white;
  border-radius: 6px;
  box-shadow:
          hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
          hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  &:focus {
    outline: none;
  }
}

.Title {
  margin: 0;
  color: var(--mauve-12);
  font-size: 17px;
  font-weight: 500;
}

.Description {
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}
.file_content{
  display: block;
  margin-top: 15px;
}

@mixin Button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  min-width: 87px;
}

.cancel_button{
  @include Button;
  border: 1px solid #96BB7C;
  border-radius: 3px 3px 3px 3px;
  color: #96BB7C;
  &:hover{
    border: 1px solid #7BAB5A;
    color: #7BAB5A;
  }
}
.confirm_button{
  @include Button;
  background: #96BB7C;
  border-radius: 3px 3px 3px 3px;
  color: #fff;
  &:hover{
    background: #7BAB5A;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
