.main{
   padding: 50px 120px;
   .title{
     text-align: center;
     font-size: 35px;
     font-weight: bolder;
     margin-bottom: 20px;
   }
  .content{
    .black{
      font-weight:bold;
    }
     word-break: normal;
     white-space: pre-wrap;
  }
}