.main_container{
  background: #EEEEF0;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.notice {
  margin-top: 90px;
  font-weight: bold;
  font-size: 18px;
  color: #172B4D;
  line-height: 27px;
  text-align: left;
  font-style: normal;
}

.suggestions_form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .text_area {
    resize: none;
    width: 450px;
    height: 150px;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #96BB7C;
    padding:15px;
    font-size: 15px;
    color: #172B4D;
  }

  .contact_literal {
    color: #6B778C;
    font-size: 15px;
    margin-top: 5px;
    display: flex;

    .connect_checkbox {
      margin-right: 5px;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }

  .send_button {
    width: 100px;
    height: 40px;
    margin-top: 23px;
    border: none;
    background: #96BB7C;
    border-radius: 5px 5px 5px 5px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    text-transform: none;
    &:hover{
      background: #7BAB5A;
    }
  }
}

.mail_to_us {
  color: #BEBEBE;
  margin-top: 35px;
}